In [1]:
print("Hubertus Hami")

Hubertus Hami

In [2]:
var1 = [1, 2, 3, 4]
print(type(var1))

<class 'list'>

In [3]:
i = 0
while i < 10:
    print("Angka", i)
    i += 1
else:
    print("Angka lebih besar dari 5")

Angka 0
Angka 1
Angka 2
Angka 3
Angka 4
Angka 5
Angka 6
Angka 7
Angka 8
Angka 9
Angka lebih besar dari 5

In [4]:
# integer

num = 59
print(num)
type(num)

59

int

In [5]:
# Konndisional statement
angka = 5
if angka == 20:
    print("angka adalah 20")
elif angka < 20:
    print("angka adalah kurang dari 20")
else:
    print("angka adalah lebih dari 20")

angka adalah kurang dari 20

In [6]:
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]
full = [first, second]
print(full)

[[11.25, 18.0, 20.0], [10.75, 9.5]]

In [7]:
print(sorted(full))

[[10.75, 9.5], [11.25, 18.0, 20.0]]

In [10]:
# list area
area = [11.25, 18.0, 20.0, 10.75, 9.50]

#Kita ingin mengambil index 20.0

print (area[2])

20.0