# Variable and data type

In [1]:
my_favorite_colour = "blue"

In [2]:
my_favorite_colour

'blue'

variabel dibuat dengan pernyataan tugas.
ini dimulai dengan naman variabel, lalu diikuti oleh operator penugasan 
lalu diikuti dengan nilai yang akan disimpan dalam variabel

kita juga dapat menetapkan beberapa variabel dalam satu pernyataan dengan memisahkan nama  dan nilai variabel
dengan koma

In [4]:
colour1, colour2, colour3 = "red", "green", "blue"

In [5]:
colour1

'red'

In [6]:
colour2

'green'

In [7]:
colour3

'blue'

Kita dapat menetapkan nilai yang sama ke beberapa variabel dengan merangkap beberapa operasi penugasan dalam satu pernyataan

In [8]:
colour4 = colour5 = colour6 = "magenta"

In [9]:
colour4

'magenta'

In [12]:
colour5

'magenta'

In [13]:
colour6

'magenta'

Kita dapat mengubah nilai yang disimpan dalam variabel dengan menetapkan nilai yang baru ke dalam variabelnya
menggunakan pernyataan tugas lain. Hati-hati saat menetapkan ulang variabel. saat kita menetapkan nilai baru ke
variabel, nilai lama hilang dan tidak dapat lagi di akses

In [14]:
my_favorite_colour = "red"

In [15]:
my_favorite_colour

'red'

saat menetapkan ulang variabel, kita juga dapat menggunakan nilai variabel sebelumnya untuk menghitung nilai baru

In [16]:
counter = 10

In [17]:
counter = counter + 1

In [18]:
counter

11

Pola var = var op something ( dimana op yaitu operator matematika seperti (+, -, /, *) yang umum, jadi python menyediakan syntax singkat untuk itu.)

In [19]:
counter = 10

In [20]:
# same as counter  = counter +4
counter += 4

In [21]:
counter

14

nama variabel bisa pendek seperti x,y,z dan lain-lain. atau bisa juga deskriptif seperti my_favorite_colour, profit_margin
dan lain-lain. Namun, kita harus mengikuti aturan ini saat memberi nama variabel python
+ nama variabel harus dimulai dengan huruf atau karakter garis bawah (_.)itu tidak bisa dimulai dengan angka
+ nama variabel hanya boleh diisi huruf kecil, atau huruf besar, angka, atau garis bawah
+ nama variabel itu peka, i.e a_variable, A_Variable, A_VARIABLE adalah variabel yang berbeda

In [23]:
a_variabel = 23
is_today_saturday = False
my_favorite_car = "Delorean"
the_3_masketers = ["Asthos", "Porthos", "Aramis"]

In [24]:
a Variabel = 23

SyntaxError: invalid syntax (<ipython-input-24-48829081b7c2>, line 1)

In [26]:
a_variabel

23

In [27]:
my-favorite-car = "Delorean"

SyntaxError: cannot assign to operator (<ipython-input-27-829f5ed5b10b>, line 1)

di atas adalah contoh penggunaan variabel yang sensitif

# Type data Bawaan dengan Python

Setiap data yang disimpan atau informasi yang disimpan dalam variabel python memiliki type. Kita bisa melihat type data yang disimpan dalam variabel menggunakan variabel type

In [28]:
a_variabel

23

In [29]:
type(a_variabel)

int

In [30]:
is_today_saturday

False

In [31]:
type(is_today_saturday)

bool

In [32]:
my_favorite_car

'Delorean'

In [33]:
type(my_favorite_car)

str

In [34]:
the_3_masketers

['Asthos', 'Porthos', 'Aramis']

In [35]:
type(the_3_masketers)

list

Python memiliki tipe data built-in untuk menyimpan berbagai data dan informasi dalam variabel. Berikut adalah beberapa type data yang umum digunakan

1. integer (Bilangan Bulat)
2. Float
3. Boolean
4. None
5. List (Daftar)
6. Tuple 
7. Dictionary (Kamus)


Integer, float, boolean, None, dan string adalah tipe data primitif karena mereka mewakili satu nilai. Tipe data lain seperti daftar, tupel, dan kamus sering disebut struktur data atau wadah karena mereka menyimpan beberapa bagian data bersama-sama.

# Integer

Bilangan bulat mewakili bilangan bulat positif atau negatif, dari negatif tak hingga tak terhingga. Perhatikan bahwa bilangan bulat tidak boleh menyertakan titik desimal. Integer memiliki tipe int.

In [36]:
current_year = 2020

In [37]:
current_year

2020

In [38]:
type(current_year)

int

tidak ada nilai yang terendah dan tertinggi pada integer, dan hanya ada satu type int

In [39]:
a_large_negative_number = -23374038374832934334234317348343

In [40]:
a_large_negative_number

-23374038374832934334234317348343

In [41]:
type(a_large_negative_number)

int

# Float

Float adalah bilangan dengan titik desimal. tidak ada batasan nilai atau jumlah digit sebelum atau sesudah koma desimal. Bilangan floating-point memiliki type data float

In [43]:
pi = 3.141592653589793238

In [44]:
pi

3.141592653589793

In [45]:
type(pi)

float

In [46]:
a_number = 3.0

In [47]:
a_number

3.0

In [48]:
type(a_number)

float

In [49]:
another_number = 4

In [50]:
another_number

4

In [51]:
type(another_number)

int

Bilangan floating point juga dapat ditulis dengan menggunakan notasi "e" sebagai eksponensial untuk menunjukan pangkat 10

In [53]:
one_hundred = 1e-2

In [54]:
one_hundred

0.01

In [55]:
type(one_hundred)

float

In [56]:
avogadro_number =  6.02214076e23

In [57]:
avogadro_number

6.02214076e+23

In [58]:
type(avogadro_number)

float

Kita bisa mengubah 'Float' menjadi 'integer' ataupun sebaliknya. Operasi dengan mengubah satu jenis nilai menjadi nilai lain disebut # pengecoran

In [59]:
float(current_year)

2020.0

In [60]:
float(a_large_negative_number)

-2.3374038374832935e+31

In [61]:
int(pi)

3

In [62]:
int(avogadro_number)

602214075999999987023872

saat melakukan operasi aritmatika, bilangan bulat secara otomatis diubah menjadi float jika salah satu operannya adalah float. Juga operator divisi selalu mengembalikan float meskipun kedua operannya adalah bilangan bulat gunakan operator // jika kita ingin hasil pembagian menjadi int

In [63]:
type(45 * 3.0)

float

In [64]:
type(45 * 3)

int

In [65]:
type(10/3)

float

In [66]:
type(10/2)

float

In [67]:
type(10//2)

int

# Boolean

Boolean mewakili salah satu dari dua nilai; True dan False. Boolean memiliki tipe bool

In [69]:
is_today_Sunday = True

In [70]:
is_today_Sunday

True

In [71]:
type(is_today_Sunday)

bool

Boolean umumnya merupakan hasil dari operasi perbandingan misalnya ==, >=, <= dan lain-lain

In [73]:
cost_of_ice_bag = 1.25
is_ice_bag_expensive = cost_of_ice_bag >= 10

In [74]:
is_ice_bag_expensive

False

In [75]:
type(is_ice_bag_expensive)

bool

Boolean secara otomatis diubah menjadi int saat digunakan operasi matematika. True di ubah menjadi 1 dan False diubah menjadi 0

In [76]:
5 + False

5

In [77]:
3 + True

4

Nila apapun dalam python dapat diubah menjadi boolean menggunakan fungsi bool. Hanya nilai berikut yang dievaluasi ke dalam False (sering disebut dengan nilai Falsy);
1. Nilai False itu sendiri
2. integer 0
3. Float 0.0
4. empty value None
5. empty text ""
6. empty list []
7. empty tuple ()
8. empty dictionary {}
9. empty set set()
10. empty range range (0)

segala sesuatu yang lain dievaluasi ke True (sering disebut nilai kebenaran)

In [79]:
bool(False)

False

In [80]:
bool(0)

False

In [81]:
bool(0.0)

False

In [82]:
bool(None)

False

In [85]:
bool("")

False

In [86]:
bool([])

False

In [87]:
bool(())

False

In [88]:
bool(set())

False

In [89]:
bool({})

False

In [91]:
bool(range(0))

False

In [92]:
bool(True), bool(1), bool(2.0), bool("Hello"), bool([1,2])

(True, True, True, True, True)

## None

jenis None menyatakan bahwa ada satu nilai yang tidak ada nilainya, yang digunakan untuk menunjukan tidak adanya nilai. Tidak ada yang memiliki NoneType. ini sering digunakan untuk mendeklarasikan variabel yang nilainya dapat diberikan nanti

In [93]:
nothing = None

In [95]:
type(nothing)

NoneType

## String

Sebuah string digunakan untuk merepresentasikan sebuah teks (serangkaian karakter) dengan Python. String harus diapit dengan menggunakan kutipan ("") atau ('') type string dengan str

In [97]:
today = "Saturday"

In [98]:
today

'Saturday'

In [99]:
type(today)

str

Kita dapat menggunakan kutip tunggal di dalam string yang ditulis dengan kutipan ganda

In [100]:
my_favorite_movie =  "One Flew Over the Cucko's Nest"

In [101]:
my_favorite_movie

"One Flew Over the Cucko's Nest"

In [102]:
my_favorite_pun = 'Terima kasih sudah menjelaskan kata "many" kepada saya, terima kasih banyak'

In [103]:
my_favorite_pun

'Terima kasih sudah menjelaskan kata "many" kepada saya, terima kasih banyak'

In [104]:
another_pun = "Pertama kali saya ke Surabaya ya naik mobil dulu\"masa iya langsung ke Surabaya\"."

In [105]:
another_pun

'Pertama kali saya ke Surabaya ya naik mobil dulu"masa iya langsung ke Surabaya".'

In [106]:
yet_another_pun = '''aku : "Aku ngoeng ngo mbeot!"
Bapak :"Asan neng e, bo eme mberes."'''

In [107]:
yet_another_pun

'aku : "Aku ngoeng ngo mbeot!"\nBapak :"Asan neng e, bo eme mberes."'

In [108]:
print(yet_another_pun)

aku : "Aku ngoeng ngo mbeot!"
Bapak :"Asan neng e, bo eme mberes."

In [109]:
len(my_favorite_movie)

30

In [110]:
multiline_string = """a
b"""
multiline_string

'a\nb'

In [111]:
len(multiline_string)

3

In [112]:
list(multiline_string)

['a', '\n', 'b']

In [113]:
today = "Saturday"

In [115]:
today[0]

'S'

In [116]:
today[3]

'u'

In [117]:
today[7]

'y'

Kita dapat  mengakses bagian dari string dengan menggunakan awalan : dan diakhiri dengan []

In [120]:
today[3:7]

'urda'

Kita juga  bisa mengecek loh guys apakah sebuah string itu berisi beberapa teks menggunakan operator in

In [122]:
'day' in today

True

In [123]:
'Sun' in today

False

Dua atau lebih string juga dapat digabungkan ya, dengan operator (+), nah di sini kita  berhati-hati ya, karena kita mungkin menambahkan karakter spasi "" diantara kata

In [124]:
full_name = "Derek O'bryan"

In [125]:
greeting = "Hello"

In [126]:
greeting + full_name

"HelloDerek O'bryan"

In [127]:
greeting + " " + full_name + "!" #Additional space

"Hello Derek O'bryan!"

String dalam python menggunakan banyak metode bawaan yang  sering digunakan untuk memanipulasinya. Mari kota coba beberapa stringa yang sering digunakan Booossskuuuu

metode .lower() .upper() dan .capitalize() digunakan untuk mengubah kapitalisasi karakter

In [128]:
today.lower()

'saturday'

In [129]:
today.upper()

'SATURDAY'

In [130]:
"monday".capitalize() # mengubah karakter ke dalam capital

'Monday'

Sedangkan menggunakan metode .replace adalah menggantikan bagian dari string dengan string lain. dibutuhkan porsi yang akan diganti dan teks pengganti sebagai input sebuah argumen

In [131]:
another_day = today.replace("Satur", "Wednes")

In [132]:
another_day

'Wednesday'

Perhatikan bahwa .replace menggantikan string baru dan string asli tidak berubah

In [133]:
today

'Saturday'

Berikutnya adalah fungsi .split  gesss tapi ingat ya bukan split (kangkang dalam dunia olahraga hehehehe) di sini fungsi .split adalah membagi string menjadi daftar string di setiap kemunculan karakter yang disediakan

In [134]:
"Sun, Mon, Tue, Wed, Thu, Fri, Sat".split(".")

['Sun, Mon, Tue, Wed, Thu, Fri, Sat']

Nah, setelah .split selanjutnya adalah .strip yang berguna untuk menghapus karakter spasi dari awal dan akhir string

In [135]:
garis_galau = "    ini adalah galau saya yang paling lama, kamu tahu karen apa..."

In [136]:
garis_galau_stripped = garis_galau

In [137]:
garis_galau_stripped

'    ini adalah galau saya yang paling lama, kamu tahu karen apa...'

Metode .format yaitu menggabungkan nilai dari type data lain, misalnya bilangan bulat, tuple, floar, boolean, dan lain-lain

In [139]:
# masukkan variabel
cost_of_ice_bag = 1.25
profit_margin = .2
number_of_bags = 500

# Template hasil pesanan
hasil_pesanan = """ jika saya menjual ice bag di $ {} per bag, dengan profit margin {} % ,
dan total profit  akan dijual {} ice bag is {}. """

print(hasil_pesanan)

 jika saya menjual ice bag di $ {} per bag, dengan profit margin {} % ,
dan total profit  akan dijual {} ice bag is {}.

In [140]:
# Masukkan nilai ke dalam string 
total_profit = cost_of_ice_bag * profit_margin * number_of_bags
hasil_pesanan = hasil_pesanan.format(cost_of_ice_bag, profit_margin*100, number_of_bags, total_profit)

print(hasil_pesanan)

 jika saya menjual ice bag di $ 1.25 per bag, dengan profit margin 20.0 % ,
dan total profit  akan dijual 500 ice bag is 125.0.

In [141]:
str(23)

'23'

In [142]:
str(23.433)

'23.433'

In [143]:
str(True)

'True'

String juga mendukung operasi perbandingan == dan = untuk memeriksa apakah  kedua string sama

In [144]:
first_name = "John"

In [145]:
first_name == "Berto"

False

In [146]:
first_name == "John"

True

# List

List pada python merupakan kumpulan nilai yang diurutkan. List dapat menyimpan nilai dari berbagai type data dan mendukung operasi data untuk menambah, menghapus, dan mengubah nilai list memiliki tipe list

untuk membuat list apit nilai dalam tanda kurung siku [ "dan1", "dan2"], dan dipisahkan dengan komma

In [148]:
fruits = ["Apel", "Banana","Cherry"]

In [150]:
fruits

['Apel', 'Banana', 'Cherry']

In [151]:
type(fruits)

list

Mari kita coba list data yang mempunyai nilai dari tipe data yang berbeda termasuk list lainnya

In [152]:
a_list  = [23,"Hello", None, 3.14, fruits, 3<= 5]

In [153]:
a_list

[23, 'Hello', None, 3.14, ['Apel', 'Banana', 'Cherry'], True]

In [154]:
empty_list = []

In [155]:
empty_list

[]

Untuk menentukan jumlah nilai dalam daftar, gunakan fungsi len. Kita dapat menggunakan len untuk menentukan jumlah nilai di beberapa tipe data lainnya

In [156]:
len(fruits)

3

In [157]:
print("Number of fruits: ", len(fruits))

Number of fruits:  3

In [158]:
len(a_list)

6

In [159]:
len(empty_list)

0

Kita juga bisa mengakses elemen dari daftar menggunakan indeksnya, misalnya fruits[2] mengembalikan elemen 2 pada indeks fruits di dalam daftar buah indek awal list adalah 0

In [160]:
fruits[0]

'Apel'

In [161]:
fruits[1]

'Banana'

In [163]:
fruits[2]

'Cherry'

Jika anda mencoba mengakses indeks yang sama atau lebih tinggi dari panjang daftar, python mengembalikan index error

In [166]:
fruit[3]

NameError: name 'fruit' is not defined

In [167]:
fruits[4]

IndexError: list index out of range

In [168]:
fruits[5]

IndexError: list index out of range

In [169]:
fruits[-1]

'Cherry'

In [170]:
fruits[-2]

'Banana'

In [171]:
fruits[-3]

'Apel'

In [172]:
a_list = [23, "Hello", None, 3.14, fruits, 3<=5]

In [173]:
a_list

[23, 'Hello', None, 3.14, ['Apel', 'Banana', 'Cherry'], True]

In [174]:
len(a_list)

6

In [175]:
a_list[2:5]

[None, 3.14, ['Apel', 'Banana', 'Cherry']]